# Ignore virtual environment
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore database and env variables
*.db
*.sqlite
*.sqlite3
.env
*.env

# Ignore TODO.txt file
TODO.txt

# Ignore test file
test.py

main.py

.DS_Store